<div class="container">
  <form [formGroup]="form">
    <mat-form-field>
      <ngx-mat-search-field
        name="user-search"
        placeholder="User (prefetch=true)"
        formControlName="user1"
        prefetch="true"
        [maxRows]="20"
        [dataSource]="dataSource"
      ></ngx-mat-search-field>
    </mat-form-field>

    <mat-form-field>
      <ngx-mat-search-field
        placeholder="Users (prefetch=false)"
        formControlName="user2"
        prefetch="false"
        mode="chip"
        [maxRows]="20"
        [dataSource]="dataSource"
      ></ngx-mat-search-field>
    </mat-form-field>
  </form>
</div>
