<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field>
          <ngx-mat-search-field
            name="user-search"
            placeholder="User (prefetch=true)"
            formControlName="user"
            prefetch="true"
          ></ngx-mat-search-field>
        </mat-form-field>

    <mat-form-field>
      <ngx-mat-search-field
        name="user-search"
        placeholder="User (prefetch=false)"
        formControlName="user"
        prefetch="false"
      ></ngx-mat-search-field>
    </mat-form-field>

  </form>
</div>
